#search{
    padding: 24px 85px;
    width: 100%;
}
.search__header{
    margin-top: 4px;
    margin-left: -12px;
    width: 100%;
}
.search__btn-container{
    margin: 24px;
    display: flex;
    background-color: rgb(243 242 242);;
    padding: 12px 24px;
    font-size: 1.1rem;
    font-weight: 500;
    align-items: center;
    justify-content: space-between;
}
.search__btn-container-title{

}
.search__btn{
    margin-left: 14px;
    background-color: var(--primary);
    border-radius: 4px;
    padding: 8px 24px;
    font-size: 1.1rem;
    color: var(--font-3);
}
.search__btn-active,.search__btn-page-item-active{
    background-color: var(--primary-05) !important;
    color: var(--font-3) !important;
}
.search__btn-group{
    display: flex;
    align-items: center;
}
.search__btn-page{
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.search__btn-page-item{
    background-color: transparent;
    color: black;
    padding: 8px 12px;
    background-color: rgb(227, 229, 229);
}
.search__btn-page-item + .search__btn-page-item{
    margin-left: 6px;
}