html{
    background-color: white;
}
body{
    background-color: white;

}
.authenticateHeader{
    position: fixed;
    box-shadow: 0px 1px 5px rgb(202, 202, 202);
    top:0;
    left: 0;
    right: 0;
    font-size: large;
    font-weight: 600;
    z-index: 1;
    background-color: white;
    height: 123px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.authenticateHeader__icon{
    color: var(--primary);
    font-size: 60px;
    margin-right: 24px;
}
.authenticateHeader__title{
    color: var(--font-1);
    
}
.authenticateBody{
    margin-top: -48px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    top: 0;
    bottom: 0;
    width: 100%;
}
.authenticateform{
    margin-top: -10px;
    position: relative;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .14);
    background-color: white;
    border-radius: 4px;
    min-height: 200px;
    width: 400px;
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: ease fadeIn 0.3s;
}
.authenticateform__group{
    width: 100%;
    margin-top: 12px;
}
.authenticateform__group-label{
    color: var(--font-1);
    font-size: 1.2rem;
    font-weight: 500;
}
.authenticateform__group-input{
    width: 100%;
    height: 38px;
    box-sizing: border-box;
    font-size: 1.1rem;
    margin-top: 3px;
    border: 1px solid var(--font-2);
    outline-color: var(--primary);
    border-radius: 3px;
    padding-left: 4px;

}
.authenticateform__group-btn{
    width: 100px;
    background-color: var(--primary);
    height: 40px;
    border-radius: 2px;
    color: var(--font-3);
    font-size: 1.2rem;
    width: 100%;
    margin-top: 24px;
}
.authenticateBody__title{
    border-bottom: 1px solid rgb(231, 226, 226);
    width: 100%;
    text-align: center;
    padding: 12px 0;
}
.authenticateform__backward{
    position: absolute;
    left: 24px;
    top: 24px;
    font-size: 1.8rem;
    color: var(--primary-05);
}
.authenticateform__group-container{
    display: flex;
    align-items: center;

}
.authenticateform__group-container-btn{
    background-color: var(--primary-05);
    border-radius: 2px;
    color: var(--font-3);
    width: 110px;
    margin-left: 6px;
    height: 38px;
    margin-top: 3px;
    box-sizing: border-box;
    font-size: 1.1rem;
}
.authenticateform__group-container-btn:disabled{
    background-color: var(--primary-05) !important;
    cursor: default !important;
}
.loading{
    background-color: rgba(248, 248, 248, 0);
    height: 50px;
    width: 50px;
    border: 4px solid var(--primary);
    border-color: var(--primary) gray gray gray;
    border-radius: 50%;
    animation: ease 1s rotate360 infinite;
}

.loading__title{
    padding: 12px;
    font-size: 1.3rem;
    color: var(--font-1);
    font-weight: 500;
}